<main class="search">
    <form action="/zoek-resultaten" method="POST">
        <label for="search"></label>
        <input type="text" id="search" name="search" placeholder="Zoeken...">
        <button type="submit"></button>
    </form>

    <ul class="search-results">
        {{#each result}}
            <li>
                <a href="/details/{{this.objectNumber}}">
                    <img src="{{this.webImage.url}}" alt="{{this.title}}">
                    <h2>{{this.title}}</h2>
                </a>
            </li>
        {{/each}}
    </ul>
</main>