<main class="zerostate">
    <div>
        <div>
            <h2>Welkom in de Rijksmuseum Art Experience</h2>
            <p>In deze app kun je allemaal kunstwerken vinden uit het Rijksmuseum.</p>
            <p>Wat kun je allemaal in deze app:</p>
            <ul>
                <li>De top tien kunstwerken van het moment bekijken</li>
                <li>Op onderwerp zoeken</li>
                <li>Zoeken doormiddel van de zoekfunctie</li>
            </ul>
            <a href="/">Ontdek alle kunst</a>
        </div>
    </div>
</main>